body {
        margin: 0;
        padding: 0;
        font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
        font-size: 14px;
        }
        #calendar {
        max-width: 900px;
        margin: 50px auto;
        }
        .btn-add-event{
        position: absolute;
        right: 10px;
        bottom: 100px;
        z-index: 10;
        }
        .btn-add-event button{
        border-radius: 50%;
        width: 45px;
        height: 45px;
        }
        /* The customcheck */
        .customcheck {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        margin-top: 15px;
        cursor: pointer;
        font-size: 16px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        }
        /* Hide the browser's default checkbox */
        .customcheck input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        }
        /* Create a custom checkbox */
        .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #fff;
        border-radius: 3px;
        border: 2px solid #333;
        }
        /* On mouse-over, add a grey background color */
        .customcheck:hover input ~ .checkmark {
        background-color: #ccc;
        }
        /* When the checkbox is checked, add a blue background */
        .customcheck input:checked ~ .checkmark {
        background-color: #333;
        border-radius: 5px;
        }
        /* Create the checkmark/indicator (hidden when not checked) */
        .checkmark:after {
        content: "";
        position: absolute;
        display: none;
        }
        /* Show the checkmark when checked */
        .customcheck input:checked ~ .checkmark:after {
        display: block;
        }
        /* Style the checkmark/indicator */
        .customcheck .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        }
        .datetime_input{
        margin-left: 0px !important;
        margin-right: 0px !important;
        }
        .form_datetime{
           min-width: 210px;
        }
        .datetime{
        margin-bottom: 20px;
        margin-top: 20px;
        }